/* */
body{
  margin: 0;
  text-align: center;
  font-family: 'Merriweather', serif;  /*Comic Sans MS, cursive, sans-serif; */
  color: #40514E;
  background-color: #F2E5E5;
}
h1{
  font-size: 5.625rem;
  margin-top: 0;
  font-family: 'Sacramento', cursive;
  color: #2B3A55;
  line-height: 2;
}
h2{
  font-size: 2.5rem;
  font-family: 'Montserrat', sans-serif;
  color: #2B3A55;
  font-weight: normal;
  padding-bottom: 10px;
}
h3{
  font-family: 'Montserrat', sans-serif;
  color: #CE7777;
}

p{
  line-height: 2;
}

li{
  line-height: 2;
}

a{
  color: #CE7777;
  font-family: 'Montserrat', sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover{
  color: #EAF6F6;
}

hr{
  border: dotted #EAF6F6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}

.pre-container{
  margin: 40px auto auto auto;
}

.top-container{
  padding-top: 80px;
  margin: 50px auto 50px auto;
  background-color: #F2E5E5;
  position: relative;
}
.middle-container{

  /*background-color: #DEBACE;
  width: 200px;
  height: 200px;
  position:relative;
  left: 200px; */
  margin: 100px 0;
}
.bottom-container{

  background-color: #E8C4C4;
  padding: 50px 0 20px
  /*width: 200px;
  height: 200px; */
}
.pro{
  text-decoration: underline;
}

.intro{
  width: 30%;
  margin:auto;
}

.contact-message{
  width:40%;
  margin: 4% auto 6%;
}

.copyright{
  color: #EAF6F6;
  font-size: 0.75rem;
  padding: 20px 0;
}

.top-cloud{
  position:absolute;
  right: 300px;
  top: 40px;
  width:80px;
  height:80px;
}
.bottom-cloud{
  position: absolute;
  left: 250px;
  bottom: 300px;
  width:100px;
  height:100px;
}

.education-row{
  width: 40%;
  margin: 30px auto 30px auto;
  text-align: left;
  /*line-height: 2; */
}

.experience-row{
  width: 70%;
  margin: 30px auto 30px auto;
  text-align: left;
  /*line-height: 2; */
}

.cat-image{
  /*width: 25%; */
  /*float:left; */
  margin-right: 30px;
}

.cat2-image{
  width: 25%;
  float: right;
  margin-left: 30px;
}

.btn {
  background: #2B3A55;
  background-image: -webkit-linear-gradient(top, #2B3A55, #3d5582);
  background-image: -moz-linear-gradient(top, #2B3A55, #3d5582);
  background-image: -ms-linear-gradient(top, #2B3A55, #3d5582);
  background-image: -o-linear-gradient(top, #2B3A55, #3d5582);
  background-image: linear-gradient(to bottom, #2B3A55, #3d5582);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #5777b3;
  background-image: -webkit-linear-gradient(top, #5777b3, #6d8fcf);
  background-image: -moz-linear-gradient(top, #5777b3, #6d8fcf);
  background-image: -ms-linear-gradient(top, #5777b3, #6d8fcf);
  background-image: -o-linear-gradient(top, #5777b3, #6d8fcf);
  background-image: linear-gradient(to bottom, #5777b3, #6d8fcf);
  text-decoration: none;
}
